@inherits LayoutComponentBase
@using LamaApp.Client.Pages.Usuario.Layout
@using LamaApp.Client.Pages.Usuario.User_Config.Components
@layout UserLayout


<div class="empty-layout w-75 h-100 py-4 px-4">

    <h1 class="">Configuracion</h1>
    <Nav />
    <div class="container h-100 w-100 p-0 d-flex flex-column align-items-center">
        @Body
    </div>
</div>


@code {

}
