@inherits LayoutComponentBase
@using LamaApp.Client.Pages.Admin.Layout

<div class="empty-layout vh-100 d-flex">
    <Sidebar/>
    <div class="content p-2 d-flex justify-content-center">
        @Body
    </div>
</div>

<style>
    .layout-container {
        display: flex; /* Usar flexbox para alinear el sidebar y el contenido */
    }

    .content {
        margin-left: 250px; /* Deja espacio para el sidebar */
        padding: 20px;
        flex-grow: 1; /* Asegura que el contenido ocupe el espacio restante */
        min-height: 100vh;
        background-color: #eeeeee;
    }


</style>

@code {

}
