@using LamaApp.Client.Pages.Home.Components.Components

<div class="vh-100 d-flex justify-content-center align-items-center flex-column gap-xxl-5" id="Episodes">
    <div class="container text-center ">
        <h1 class="fs-1 fw-bold">Experimenta la emoción del viaje</h1>
        <p class="fs-5 mb-4">Únete a nuestra comunidad de motociclistas apasionados. Mira emocionantes episodios de viajes e inscríbete en las próximas aventuras</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button class="btn btn-dark btn-lg px-4 gap-3">Ver episodios</button>
            <button class="btn btn-outline-dark btn-lg px-4" onclick="window.location.href = '/login'">Ingresar</button>
        </div>
    </div>
</div>

<style>

</style>

@code {

}


