
<div class=" vh-100 w-100" id="Home">
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-6 d-flex flex-column justify-content-center gap-2 px-5 vh-100">
            <h1 class=" fw-bold lh-lg">Experience the Thrill of the Ride</h1>
            <h3 class="fs-5 text-secondary">Join our community of passionate motorcyclist. Watch exciting ride episodes and sign up for upcoming adventures.</h3>
            <div class="d-flex gap-4">
                <button type="button" class="btn btn-light border-dark" onclick="window.location.href = '/login'">Login</button>
                <button type="button" class="btn btn-dark"  onclick="window.location.href = '/register'">Register</button>
            </div>
        </div>
        <div class="banner-image col-6 vh-100">
               @*  <img src="Imagenes/Banner1.jpg" alt="Banner 1" class="w-100 h-100 rounded-3 cover"/> *@
        </div>
    </div>
    
</div>

<style>

    .banner-image{
        background-image: url("Imagenes/Banner1.jpg");
        background-position : center;
        background-size : cover;
    }


</style>

@code {

}
