@using LamaApp.Client.Pages.Home.Components.Components

<div class="vh-100 d-flex justify-content-center align-items-center flex-column gap-xxl-5" id="Episodes">
    <div class="container text-center ">
        <h1 class="fs-1 fw-bold">Enterate antes que todos</h1>
        <p class="fs-5 mb-4">Registrate para recibir actualizaciones y previas de eventos a los que podras asistir luego de tener tu cuenta</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <input class="form-control h-auto w-50" type="email" placeholder="Ingrese su correo"/>
            <button class="btn btn-dark btn-lg px-4" onclick="window.location.href = '#'">Suscribete</button>
        </div>
    </div>
</div>

<style>

</style>

@code {

}


@code {

}
