<div class="options-cont text-center row w-100 justify-content-center align-items-center gap-5 m-0 p-1 my-3">
    <NavLink href = "/user/config/cuenta" class="option w-auto flex-grow-1">Cuenta</NavLink>
    <NavLink href="/user/config/cuenta" class="option w-auto flex-grow-1">Privacidad</NavLink>
    <NavLink href="/user/config/cuenta" class="option w-auto flex-grow-1">Notificaciones</NavLink>
    <NavLink href="/user/config/apariencia" class="option w-auto flex-grow-1">Apariencia</NavLink>
</div>

<style>
    .option{
        text-decoration : none;
        padding: 4px 8px;
        color : #888;
        cursor : pointer;
    }

    .option:hover{
        color : #888
    }
   
    .selected{
        background-color: #112;
        box-shadow: 0 0 5px -1px #112;
        border-radius: 5px;
        color: #fff;
        transition: 100ms;
    }

    .selected:hover{
        color : #000;
    }

</style>

<script>

    document.addEventListener("DOMContentLoaded", () => {
        const url = window.location.pathname;
        const cont = document.querySelector(".options-cont");

        cont.querySelectorAll(".option").forEach((element) => {
            if (url.includes(element.getAttribute("href"))) {
                element.classList.add("selected");
            }
        });
    });

</script>

@code {

}
