<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/410e1e80-1ff3-4654-9c16-1ed1ae96deb2/resourcegroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/csharpapi20250529215219</ResourceId>
    <ResourceGroup>DefaultResourceGroup-EUS</ResourceGroup>
    <ApiResourceId>/subscriptions/410e1e80-1ff3-4654-9c16-1ed1ae96deb2/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.ApiManagement/service/csharpapiapi2/apis/csharpapi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://csharpapi20250529215219.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>9b24342b-58cb-a2d3-0158-e23539cd2e8a</ProjectGuid>
    <MSDeployServiceURL>csharpapi20250529215219.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>csharpapi20250529215219</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$csharpapi20250529215219</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>