@inject NavigationManager Navigation
@inject IJSRuntime js


<div class="sidebar col">
    <div class="sidebar-header">
        <h1 class="fw-bold fs-2">LAMA</h1>
        <p class="fs-6 text-secondary">@userName</p>
    </div>
    <ul class="sidebar-options">
        <li role="button"><a href="/user"><i class="fa-solid fa-house mx-3"></i>Inicio</a></li>
        <li role="button"><a href="/user/episodes"><i class="fa-solid fa-location-dot mx-3"></i>Episodios</a></li>
        <li role="button"><a href="/user/events"><i class="fa-regular fa-calendar mx-3"></i>Eventos</a></li>
        <li class="border-bottom my-4"></li>
        <li role="button"><a href="/user/account/public"><i class="fa-regular fa-user mx-3"></i>Cuenta</a></li>
        <li role="button"><a href="/user/config/cuenta"><i class="fa-solid fa-gear mx-3"></i>Opciones</a></li>
        <li role="button"><a href="/user/incoming"><i class="fa-regular fa-flag mx-3"></i>Reportes</a></li>
        <li role="button" @onclick="HandleBtnSalir"><a><i class="fa-solid fa-right-from-bracket mx-3"></i>Salir</a></li>
    </ul>

    @*
    <button class="btn btn-primary mb-3 w-75 align-self-center" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="window.location.href = '/user'">
    Acceso al inicio
    </button>

    <button class="btn btn-primary w-75 align-self-center" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="window.location.href = '/admin/stats'">
    Acceso al admin
    </button>
    *@
    
</div>

<style>
    .sidebar {
        background-color: #112;
        color: #fff;
    }

    .sidebar-options li :is(a, i) {
        text-decoration: none;
        color: #fff;
    }

    .sidebar-options li:hover :is(a, i) {
        text-decoration: none;
        color: #000;
    }
</style>

<script>
    window.clearUsernameFromLocalStorage = () => {
        localStorage.removeItem('nombreUsuario');
    };
</script>



@code {
    private string userName;

    protected override async Task OnInitializedAsync()
    {
        userName = await js.InvokeAsync<string>("localStorage.getItem", "nombreUsuario") ?? "Anonimo";
    }


    private async Task HandleBtnSalir()
    {

        await js.InvokeVoidAsync("clearUsernameFromLocalStorage");
        Navigation.NavigateTo("/", forceLoad: true);
    }
}
