@page "/user/account/destacado"
@using LamaApp.Client.Pages.Usuario.User_Account.Layout_Account
@using LamaApp.Client.Pages.Usuario.User_Home.Components
@using LamaApp.Client.Pages.Usuario.User_Account.Components
@layout Layout

<div class="row h-auto px-5 align-items-center justify-content-start gap-4 p-3 bg-light">
        <Nav />

    <Publicacion />
    <Publicacion />

</div>




@code {

}
